<h1><%= @goal.description %></h1>

<form id='cheer' action='<%= goal_cheers_url(@goal) %>' method='post'>
  <%= auth_token %>
  <button>Cheer</button>
</form>
Cheers:<%= @goal.cheers.count %>

<% if current_user.id == @goal.user_id && !@goal.completed %>
<form id='complete' action='<%= goal_url(@goal) %>' method='post'>
  <%= auth_token %>
  <input type='hidden' name='_method' value='patch'>
  <input type='hidden' name='goal[completed]' value='true'>
  <button>Completed</button>
</form>
<% end %>

<h3>Completed: <%= @goal.completed ? "Yes" : "No" %></h3>

<%= link_to "Edit Goal", edit_goal_url %>
<%= button_to "Delete Goal", goal_url(@goal), method:"delete" %>

<ul>
  <% @goal.comments.each do |comment| %>
    <li><%= comment.body %><br><em>author:</em> <%= comment.author.username %></li>
  <% end %>
</ul>

<form action="<%= comments_url %>" method="post">
  <%= auth_token %>
  <input type='hidden' name='comment[commentable_id]' value='<%= @goal.id %>'>
  <input type='hidden' name='comment[commentable_type]' value='Goal'>

  <label>Comment:
    <textarea name="comment[body]"></textarea>
  </label>

  <button>Submit Comment</button>
</form>
